.fixed {
	position: fixed
}

.right-4 {
	right: 1rem
}

.mb-auto {
	margin-bottom: auto
}

.mr-2 {
	margin-right: 0.5rem
}

.ms-auto {
	margin-left: auto
}

.flex {
	display: flex
}

.h-8 {
	height: 2rem
}

.w-8 {
	width: 2rem
}

.w-full {
	width: 100%
}

.max-w-xs {
	max-width: 20rem
}

.rounded-xl {
	border-radius: 0.75rem
}

.cursor-pointer {
	cursor: pointer
}

.border-none {
	border-style: none
}

.bg-white {
	background-color: #fff
}

.p-4 {
	padding: 1rem
}

.text-2xl {
	font-size: 1.5rem;
	line-height: 2rem
}

.leading-none {
	line-height: 1
}

.text-gray-400 {
	color: #9ca3af
}

.shadow {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1)
}

.hover\:bg-gray-100:hover {
	background-color: #f3f4f6
}